

.fourpia_forgotpassword {
	padding: 8px 0px;
  text-align:center; 
  }
.fourpia_join {
	padding: 8px 0px;
  text-align:center; 
  }
.fourpia_name {
  font-size: 20px; 
  padding-left:8px;
  }
 .fourpia_copyright {
  font-size: 20px; 
   padding-right : 8px;
   border-right: 1px solid gray;
display:inline;
  }
 .fourpia_authorization {
  font-size: 9px; 
  padding-left : 4px;
  position: relative;
  top:-2px;
  display:inline;
  }
.av_link {
	color : lightblue;
	}
	
.textColor {
	color: #f99600;
}

.timeline, .ui-listview>.ui-li-static, .ui-listview>.ui-li-divider, .ui-listview>li>a.ui-btn  {
.border-style: none;
}
.ui-listview>.ui-li-static {
padding: .3em 1em;
}
.timeline_person {
	display:inline-block;
	text-decoration : none;
	margin-left: 18px;
	font-size:12px;
	padding: 0px;
	font-weight:500;
	color:#666;
  color:#47bbdc;
	padding-right : 8px;
   border-right: 1px solid gray;
}

.timeline_person:hover {
  cursor: pointer;
  color:#47bbdc;
	border-bottom: 1px dashed #f99600;
}
.timeline_time {
	display:inline-block;
	margin-left: 4px;
	font-size:12px;
	padding: 0px;
	font-weight:500;
	color:#47bbdc;
}

.timeline:before {
content: "";
position: absolute;
top: 0;
bottom: 0;
left: 0;
width: 12px;
border-radius: 8px 0 0 8px;
background-color:lightGray;
}
.dtweets:before {
		background-color:#232066;
}
.rtweets:before {
		background-color:#E91D0E;
}
.timeline_description {
	display:block;
	margin-left: 18px;
	font-size:12px;
	padding-top: 4px;
	padding-bottom: 4px;
	font-weight:500;
	color:#aaaaaa;
}

.timelineItem {
	border-top: 1px solid lightGray;
	border-bottom: 1px solid lightGray;
	margin-left:10px;
}

.timeline {
	position:relative;
}
.timeline_twitter {
	display:inline-block;
	position:relative;
	top:4px;
  width: 58px;
  cursor: pointer;
  margin-left:10px;
  padding: 0;
  border: 0; 

}

.timeline_followers {
	display:inline-block;
	margin-left: 8px;
	font-size:12px;
	padding: 0px;
	font-weight:500;
	color:#26C94A;
	float:right;
}

.timeline_category_rtweets {
background-color: #E91D0E;
background-color: #444444;
}
.timeline_category_dtweets {
background-color: #232066;
background-color: #444444;
}

.timeline_heading {
height: 21px;
position: relative;
border-left: 1px solid #E9E9E8;
border-right: 1px solid #E9E9E8;
border-top: 1px solid #E9E9E8;
border-top-left-radius: 12px;
border-top-right-radius: 12px;
text-align: center;
color: white;
text-shadow: black 0.1em 0.1em 0.2em;
}