.ui-listview>.ui-li-has-icon>img:first-child, .ui-listview>.ui-li-has-icon>.ui-btn>img:first-child {
	max-height:40px;
	max-width:24px;
}
.ui-content .ui-listview-inset, .ui-panel-inner>.ui-listview-inset {
	margin : -1em;
}

.splash {
	height:99.9%; 
	overflow:hidden;
	visibility: visible;
}

.splash:before {
	width:100%; 
	position:absolute; 
	top:0; 
	bottom:0; 
	left:0; 
	right:0; 
	display:block; 
	height:115%; 
	min-height:600px; 
	z-index:999999; 
	background:#fff no-repeat center center; 
	background-image:  url(../../../images/161335-10.jpg);
	background-position: center 25%;
	content:"Loading... \A\A 4PIA"; 
	white-space: pre;
	font-size: 1.5em;
	text-align:center; 
	color:#bbb; 
	text-shadow:none; 
//	line-height:80px; 
	padding-top:40px;
	vertical-align:bottom; 
	font-family:Arial;
}


.twitter-radio-icon {
width: 16px;
height: 16px;
background-size: 24px;
background-position: 8px;
background-repeat: no-repeat;
background-image: url(../images/twitter-bird-light-bgs.png);
}


.xxui-input-search input {
	padding-left: 3.75em;
}
#xxbioFilter {
	position:relative;
}
.xxtwitter_pulse {
position: absolute;
left: 29px;
top: 10px;
width: 20px;
height: 20px;
filter: Alpha(Opacity=50);
opacity: .5;
}
.xxtwitter_pulse:hover {
		background-color:#F00;
}

.env-viewport-large .ui-header {
}

.tweetCloudContainer {
	margin-right:20px;
}

.tweetCloudContents {
	margin-left :-46px;
	
}

.tweetCloudHeader {
	font-size : 14px;
	text-transform:capitalize;
}

.tweetCloudItem:hover {
	background-color : #47bbdc;
}
.tweetCloudItemPress {
	color : #f99600;
	background-color : #47bbdc;
}
.noFloat {
	float:none;
}

.drilldown-header-icon {
	max-height:32px;
	max-width: 40px;
	padding-left: 0px 32px;
	display:inline;
}

.drilldown-header-text {
	font-size: 30px;
	color:#47bbdc;
	padding: 0px 10px;
	display:inline;
}

.category-header-icon {
	max-height:32px;
	max-width: 40px;
	padding-left: 0px 32px;
	display:inline;
}

.pulse-chart-container {
}

.pulse-chart {
	font-size:14px;
	padding: 8px;
}

.pulse-header-icon {
	max-height:32px;
	max-width: 40px;
	padding-left: 0px 32px;
	padding-top:8px;
	display:inline;
}

.pulse-header-text {
	padding: 0px 10px;
	display: inline;
	position: relative;
	top: -12px;
}

.category-header-text {
	font-size: 30px;
	color:#47bbdc;
	padding: 0px 10px;
	display:inline;
}
.fourpia_forgotpassword {
	padding: 8px 0px;
  text-align:center; 
  }
.fourpia_join {
	padding: 8px 0px;
  text-align:center; 
  }
.fourpia_name {
  font-size: 20px; 
  padding-left:8px;
  }
 .fourpia_copyright {
  font-size: 14px; 
   padding-right : 8px;
   border-right: 1px solid gray;
display:inline;
  }
 .fourpia_authorization {
  font-size: 9px; 
  padding-left : 4px;
  position: relative;
  top:-2px;
  display:inline;
  }
.av_link {
	color : lightblue;
	}
	
.textColor {
	color: #f99600;
}

.forpia-header-refresh {
	width : 100%;
//	height : 40px;
	font-size:14px;
	font-weight:500;
	background-color: #EEE;
	text-align: center;
	margin:0 auto;
	padding:20px 0px;
//	display: table-cell;
//vertical-align: middle;

	display : none;
}

.wallpaper-1 {
	background: linear-gradient(to bottom, rgba(255,255,255,0.9) 0%,rgba(255,255,255,0.9) 100%),  url(../images/patterns/TwitterBkgrd.jpg) repeat 0 0;
}
.wallpaper-2 {
	background: linear-gradient(to bottom, rgba(255,255,255,0.6) 0%,rgba(255,255,255,0.6) 100%),  url(../images/patterns/Pattern_Wallpaper_Template.jpg) repeat 0 0;
}


.timeline, .ui-listview>.ui-li-static, .ui-listview>.ui-li-divider, .ui-listview>li>a.ui-btn  {
.border-style: none;
}
.ui-listview>.ui-li-static {
padding: .3em 1em;
}


.timeline_person {
	display:inline-block;
	text-decoration : none;
	margin-left: 12px;
	font-size:12px;
	padding: 0px;
	font-weight:500;
	color:#666;
  color:#517FD5;
	padding-right : 8px;
   border-right: 1px solid gray;
}

.timeline_person:hover {
  cursor: pointer;
  color:#517FD5;
	border-bottom: 1px dashed #f99600;
}
.timeline_time {
	display:inline-block;
	margin-left: 4px;
	font-size:12px;
	padding: 0px;
	font-weight:500;
	color:#517FD5;
}

.timeline:before {
content: "";
position: absolute;
top: 0;
bottom: 0;
left: 0;
width: 12px;
border-radius: 8px 0 0 8px;
background-color:lightGray;
}
.dtweets:before {
		background-color:#232066;
}
.rtweets:before {
		background-color:#E91D0E;
}
.timeline_description {
	display:block;
	margin-left: 12px;
	font-size:12px;
	padding-top: 4px;
	padding-bottom: 4px;
	font-weight:500;
	color:#aaaaaa;
}

.timelineItem {
	border-top: 1px solid lightGray;
	border-bottom: 1px solid lightGray;
	margin-left:10px;
	background-color: #FFF;
}

.timeline {
	position:relative;
}
.timeline_twitter {
	display:inline-block;
	position:relative;
	top:4px;
  width: 58px;
  cursor: pointer;
  margin-left:10px;
  padding: 0;
  padding-right: 10px;
  border: 0; 

}

.timeline_meta {
	display:inline-block;
	margin-left: 8px;
	font-size:12px;
	padding: 0px;
	font-weight:500;
	color:#26C94A;
	float:right;
}

.timeline_category_rtweets {
background-color: #E91D0E;
background-color: #999;
}
.timeline_category_dtweets {
background-color: #232066;
background-color: #999;
}

.timeline_heading {
height: 21px;
position: relative;
border-left: 1px solid #E9E9E8;
border-right: 1px solid #E9E9E8;
border-top: 1px solid #E9E9E8;
border-top-left-radius: 12px;
border-top-right-radius: 12px;
text-align: center;
color: white;
text-shadow: black 0.1em 0.1em 0.2em;
}