<!doctype html>
<html class="no-js ui-mobile-rendering" lang="en">
<head>
	<title>4PIA</title>
	<meta name="description" content="">
	<meta http-equiv="X-UA-Compatible" content="chrome=1"; charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0"/>
	<meta name="apple-mobile-web-app-capable" content="yes"/>
	<LINK REL="apple-touch-icon" HREF="images/apple-touch-icon.png" /> 

	<link rel="stylesheet" href="../../css/themes/default/jquery.mobile-1.4.2.min.css">
	<link rel="stylesheet" href="css/main.css">
	<link rel="stylesheet" href="css/swipeDelete.css">
	<script src="../../libs/js/require.min.js"></script>

    <script src="js/main.js"></script>
<script language="JavaScript" type="text/javascript">

var fourPIAsplashStartTime = new Date();

/////////////////////////////////////////////////////////////////////////////////////
//
//
//
////////////////////////////////////////////////////////////////////////////////////
function gup( str, name ) {
		name = name.replace(/[\[]/,"\\\[").replace(/[\]]/,"\\\]");
		var regexS = "[\\?&]"+name+"=([^&#]*)";
		var regex = new RegExp( regexS );
		var results = regex.exec( str );
		if( results === null )
			return undefined;
		else
			return results[1];
	};

String.prototype.gup = function( name )
{
	return gup( this, name );
};

String.prototype.makeSearchText = function()
	{
		return this.replace(/&/g, "").replace(/  /g, " ").replace(/ /g, "+");
	}

String.prototype.trim = function ()
	{
		return this.replace(/^\s*/, "").replace(/\s*$/, "");
	};
		
String.prototype.sortName = function ()
		{
			return this
				.replace(/Rep\. /i, "" )
				.replace(/Rep\. /i, "" )
				.replace(/Sen\. /i, "" )
				.replace(/Sen /i, "" )
				.replace(/Cong\. /i, "" )
				.replace(/President /i, "" )
				.replace(/Congressman /i, "" )
				.replace(/Congressmember /i, "" )
				.replace(/U\.S\. Rep\. /i, "" )
				.replace(/U\.S\. /i, "" )
				.replace(/Senator/i, "" ).trim();
		};


var alertTimerId = 0;

/////////////////////////////////////////////////////////////////////////////////////
//
//
//
////////////////////////////////////////////////////////////////////////////////////
function removeMessage()
{
	var elem = document.getElementById("pageCounter");
	elem.src ="";

	alertTimerId = 0;
}

/////////////////////////////////////////////////////////////////////////////////////
//
//
//
////////////////////////////////////////////////////////////////////////////////////
function messageFromProfile( msg )
{

	var elem = document.getElementById("pageCounter");
	var msg = msg.replace(/ /g, "_");
	elem.src ="../../index_cnt.html?" + msg;
//console.log("messageFromProfile: " + msg );
	if (alertTimerId != 0)
	{
		clearTimeout( alertTimerId );
		alertTimerId = 0;
	}

	alertTimerId = setTimeout(removeMessage, 1000);
}

/////////////////////////////////////////////////////////////////////////////////////
//
//
//
////////////////////////////////////////////////////////////////////////////////////
function updateLayout() {
  if (window.innerWidth != currentWidth) {
    currentWidth = window.innerWidth;
    var orient = (currentWidth == 320) ? "profile" : "landscape";
    document.body.setAttribute("orient", orient);
    window.scrollTo(0, 1);
  }
};

</script>

</head>
<body  class="splash">
    <div data-role="page" id="login" data-theme="b">
        <div data-role="header" data-theme="a">
			<center>
				<table border=0>
				<tr><td valign=middle><img src="images/logo.png"></td>
				<td valign=middle>
					<div class="fourpia_name">
						4PIA
					</div>
				</td></tr>
				</table>
			</center>
        </div>

        <div data-role="content" >
            <form id="check-user" class="ui-body ui-body-a ui-corner-all" data-ajax="false">
                <fieldset>
                    <div data-role="fieldcontain">
                        <label for="username">Enter your username:</label>
                        <input type="text" value="interested_guest@4pia.com" name="username" id="username"/>
                    </div>
                    <div data-role="fieldcontain">
                        <label for="password">Enter your password:</label>
                        <input type="password" value="123456" name="password" id="password"/>
                    </div>
                    <input type="button" data-theme="b" name="submit" id="submit" value="Sign In">
                </fieldset>
            </form>
        </div>
 			<div class="fourpia_forgotpassword av_link">
				 <a href="#forgot" >Forgot Password?</a>
			</div>
			<div class="fourpia_join">
				Not on 4PIA?  <a class="av_link" href="#learn" >Learn More</a>
			</div>

        <div data-theme="a" data-role="footer" data-position="fixed">

        </div>
    </div>
    
<div data-role="page" id="learn">
	<div data-role="header">
		<h1>About 4PIA</h1>
	</div>

	<div data-role="main" class="ui-content">
		  <center class="textColor">Political Involvement and Advocacy.</center>
			<p>4PIA is dedicated to help foster a healthy, productive and interactive dialogue in the United States Congress.
		 By bringing together, for the first time, on one page what our elected officials are saying we can actually encourage a tweet-dialogue.
		You can read the impact of works by viewing the Tweet Cloud(TM) often. </p>
		 <a href="#login" class="ui-btn">Sounds impressive - Go Back</a>
 	</div>

    <div data-theme="a" data-role="footer" data-position="fixed">
        <h3> <div class="fourpia_copyright">4PIA &copy; 2013, 2014</div><div class="fourpia_authorization"> Commercial use of this site without express authorization is prohibited.</div></h3>
    </div>
</div>

<div id="categories" data-role="page" data-title="Categories">

     <div data-role="header">
            <h1>Interests 
				<span class=debugInfo> 
					<span class="env-viewport-width"></span>,
					<span class="env-viewport-height"></span> <span class="env-viewport-size"></span>
				</span>
			</h1>
 		<a href="#refresh" class="ui-btn-right" data-rel="back"  data-platformResize="true" data-icon="refresh">Refresh</a>
     </div><!-- /header -->
	<div class="forpia-header-refresh" id="refresh">
		<div class="refreshMsg nextRefresh"> Next update in <span class="forpia-header-refresh-text textColor "></span>&nbsp;seconds</div>
		<div class="refreshMsg lastRefresh"> Updating on <span class="forpia-header-refresh-text"></span></div>
	</div><!-- /refresh -->
 
     <div role="main" class="ui-content">
		 <ul data-role="listview" data-inset="true">
			  <li><a href="#category?daily" class="daily"><img src="images/logo.png" style="margin-top:-10px" alt="USA" class="ui-li-icon">Daily Tweets <span class="ui-li-count dailycnt"></span></a></li>
			  <li><a href="#category?dtweets" class="dtweets"><img src="images/dem.png" style="margin-top:-6px" alt="USA" class="ui-li-icon">Democratic Tweets <span class="ui-li-count dtweetcnt"></span></a></li>
			  <li><a href="#category?rtweets" class="rtweets"><img src="images/rep.png" style="margin-top:-6px" alt="USA" class="ui-li-icon">Republican Tweets <span class="ui-li-count rtweetcnt"></span></a></li>
			  <li><a href="#category?ctweets" class="ctweets"><img src="images/cloud_logo.png" style="margin-top:0px" alt="USA" class="ui-li-icon">Tweet Cloud</a></li>
			  <li><a href="#category?bios" class="bios"><img src="images/seal.png" style="margin-top:-6px" alt="USA" class="ui-li-icon">People <span class="ui-li-count biocnt"></a></li>
			  <li><a href="#category?pulse" class="bios"><img src="images/twitter-bird-pulse.png" style="margin-top:-6px" alt="USA" class="ui-li-icon">Pulse</a></li>
			  <li><a href="#category?search" class="bios"><img src="images/search2.png" style="margin-top:-6px" alt="USA" class="ui-li-icon">Search</a></li>
			  <li data-role="list-divider" style="margin-top:20px">Other Interests</li>
			  <li><a href="#category?healthcare" class="healthcare">Healthcare</a></li>
			  <li><a href="#category?ukraine" class="ukraine">Ukraine</a></li>
			  <li><a href="#category?climate" class="climate">Climate Change</a></li>
		</ul>
     </div><!-- /content -->

</div>

<!-- Underscore Template that is used to display all of the Bios Models -->
<script id="tweetList" type="text/template">

	<div data-role="panel" id="sharePanel" data-position="right" data-display="overlay" data-dismissible="true" data-theme="b">
		
		<div id=content />
		<br>
		<center>
			<a data-rel="close" data-role="button" data-theme="a" data-icon="delete" data-inline="true">Close</a>
		</center>
	</div><!-- /sharePanel -->
	
     <div data-role="header" data-position="fixed">
		<a href="#categories" data-rel="back" data-icon="back" data-platformResize="true">Back</a>

		<% if (collection.options.type ==="drillDown" ) { %>
			<h1 class="drilldown-header-textView">
				<span class="drilltweeter"></span>
				<div class="category-header-text ">
					<span class="drilltweetcnt"></span>
				</div>
			</h1>

			<center class="drilldown-header-iconicView">
				<img src="images/dem.png" alt="USA" class="drilldown-header-icon">
				<div class="drilldown-header-text ">
					<span class="drilltweetcnt"></span>
				</div>
			</center>
		<% } else { %>
			<center>
				<% if (collection.options.sidebyside ||  collection.options.type ==="dtweets" ) { %>
					<img src="images/dem.png" alt="USA" class="category-header-icon">
					<div class="category-header-text "><span class="dtweetcnt"></span></div>
				<% } %>
				<% if (collection.options.sidebyside || collection.options.type ==="rtweets" ) { %>
					<img src="images/rep.png" alt="USA" class="category-header-icon"
				
						<% if (viewportSize.type !== "small"  &&  collection.options.sidebyside) { %>
							style="margin-left:32px"
						<% } %>
					>
					<div class="category-header-text "><span class="rtweetcnt"></span></div>
				<% } %>
				<% if (searchCnt > 0) { %>
					<img src="images/search2.png" alt="USA" class="category-header-icon"
				
						<% if (viewportSize.type !== "small") { %>
							style="margin-left:32px"
						<% } %>
					>
					<div class="category-header-text "><%= searchCnt %></div>
				<% } %>
			</center>
		<% } %>

	  </div><!-- /header -->

      <div role="main" class="ui-content">
            <ul data-role="listview" data-inset="true">
            </ul>
      </div><!-- /content -->
      
	<div data-role="footer">
	    <a class="ui-btn ui-corner-all ui-shadow ui-icon-plus ui-btn-icon-left">Facebook</a>
	    <a class="ui-btn ui-corner-all ui-shadow ui-icon-plus ui-btn-icon-left">Twitter</a>
	</div>

</script>


<div id="pulse" data-role="page" data-title="Pulse" >

      <div data-role="header">
		<a href="#back" data-rel="back" data-icon="back" data-platformResize="true">Back</a>

	    <center>
	    	<img src="images/twitter-bird-pulse.png" class="pulse-header-icon">
	    	<div class="pulse-header-text">Pulse</div>
	    </center>

	  </div><!-- /header -->

      <div role="main" class="ui-content">
            <ul data-role="listview" data-inset="true">
            </ul>
      </div><!-- /content -->
      
	<div data-role="footer">
	    <a class="ui-btn ui-corner-all ui-shadow ui-icon-plus ui-btn-icon-left">Facebook</a>
	    <a class="ui-btn ui-corner-all ui-shadow ui-icon-plus ui-btn-icon-left">Twitter</a>
	</div>

</div>


<div id="search" data-role="page" data-title="Search" >

      <div data-role="header" data-position="fixed">
		<a href="#categories" data-rel="back" data-icon="back" data-platformResize="true">Back</a>

	    <center data-position="fixed">
	    	<img src="images/search2.png" class="pulse-header-icon">
	    	<div class="pulse-header-text">Search</div>
	    </center>

 		<a href="#addSearchTerm" class="ui-btn-right" data-rel="popup"  data-platformResize="true" data-icon="plus">Add</a>

	  </div><!-- /header -->

      <div role="main" class="ui-content">
			<form class="ui-filterable" style="position:relative"> 
			  <input id="searchFilter" data-type="search" placeholder="Find">
			</form>
        <ul id="list" class="touch" data-role="listview" data-filter="true" data-input="#searchFilter" data-icon="false" data-split-icon="delete" data-split-theme="d">
        </ul>
		
	<div data-role="popup" data-dismissible="false" id="addSearchTerm" class="ui-content" data-theme="a" data-overlay-theme="a">
			<p id="question">Enter Search Text</p>
			<form name="addSearchTerm" action="" method="post">
				<input type="text" name="searchTerm" id="searchTerm" placeholder="text">
				<input type="submit" name="addSearchTerm" id="addSearchTerm" value="Add" data-theme="b" data-icon="plus" data-iconpos="right">
			</form>
		</div>

   </div><!-- /content -->
    <div id="confirm" class="ui-content" data-role="popup" data-theme="none">
        <p id="question">Are you sure you want to delete</p>
        <p class="topic ui-li-desc"><strong>text</strong></p> 
                    
        <div class="ui-grid-a">
            <div class="ui-block-a">
                <a id="yes" data-role="button" data-mini="true" data-shadow="false" data-theme="b" data-rel="back">Yes</a>
            </div>
            <div class="ui-block-b">
                <a id="cancel" data-role="button" data-mini="true" data-shadow="false" data-theme="b" data-rel="back">Cancel</a>
            </div>
        </div>
    </div><!-- /popup -->
      
	<div data-role="footer" data-position="fixed">
	    <a  class="ui-btn ui-corner-all ui-shadow ui-icon-plus ui-btn-icon-left">Facebook</a>
	    <a  class="ui-btn ui-corner-all ui-shadow ui-icon-plus ui-btn-icon-left">Twitter</a>
	</div>

</div>

<div id="drillDown" data-role="page" data-title="Tweet Details">

      <div data-role="header">
		<a href="#back" data-rel="back" data-icon="back" data-platformResize="true">Back</a>

		<h1 class="drilldown-header-textView">
			<span class="drilltweeter"></span><div class="category-header-text "><span class="drilltweetcnt"></span></div></h1>

		<a href="#category?pulse" class="ui-btn-right" style="padding:5px;color: #333;
			text-shadow: 0 1px 0 #f3f3f3;" data-role="button" data-inline="true">
					<img src="images/twitter-bird-pulse.png" width="20" height="20"><div style="display: inline-block;
			margin-left: 4px;
			position: relative;
			top: -4px;">Pulse</div>
		</a>
		<center class="drilldown-header-iconicView">
			<img src="images/dem.png" alt="USA" class="drilldown-header-icon">
			<div class="drilldown-header-text "><span class="drilltweetcnt"></span></div>
			<img src="images/search2.png" alt="USA" class="category-header-icon">
			<div class="category-header-text "><span class="drillsearchcnt"></span></div>
		</center>

	  </div><!-- /header -->

      <div role="main" class="ui-content">
            <ul data-role="listview" data-inset="true">
            </ul>
      </div><!-- /content -->
  <div data-role="footer" data-position="fixed">
    <a class="ui-btn ui-corner-all ui-shadow ui-icon-plus ui-btn-icon-left">Facebook</a>
    <a class="ui-btn ui-corner-all ui-shadow ui-icon-plus ui-btn-icon-left">Twitter</a>
  </div>
</div>


<div id="xxdrillDown" data-role="page" data-title="Tweet Details">

      <div id="tweetList"> </div>
      
</div>

<div id="daily" data-role="page" data-title="Daily" class="wallpaper-1">

      <div id="tweetList"> </div>
      
</div>

<div id="rtweets" data-role="page" data-title="Republican" class="wallpaper-1">

      <div id="tweetList"> </div>
      
</div>

<div id="dtweets" data-role="page" data-title="Democratic" class="wallpaper-1">

      <div id="tweetList"> </div>
      
</div>

   	<div id="tags" style="display: none;">
      <ul>
        <li><a href="http://www.google.com" target="_blank">Google</a></li>
        <li><a href="/fish">Fish</a></li>
        <li><a href="/chips">Chips</a></li>
        <li><a href="/salt">Salt</a></li>
        <li><a href="/vinegar">Vinegar</a></li>
      </ul>
    </div>		   
   	<div id="scope" style="display: none;">
      <ul>
        <li><a href="http://www.google.com" target="_blank">Google</a></li>
        <li><a href="/fish">Fish</a></li>
        <li><a href="/chips">Chips</a></li>
        <li><a href="/salt">Salt</a></li>
        <li><a href="/vinegar">Vinegar</a></li>
      </ul>
    </div>		   
	<div id="ctweets" data-role="page" data-title="Tweet Cloud">

      <div data-role="header">
		<a href="#categories" data-rel="back" data-icon="back" data-platformResize="true">Back</a>

	    <h1>Tweet Cloud</h1>
      </div><!-- /header -->

      <div role="main" class="ui-content">
	  <div id="myCanvasContainer"  style="display: none;">
		<canvas width="300" height="300" id="myCanvas">
			<p>Anything in here will be replaced on browsers that support the canvas element</p>
		</canvas>
	</div>
	<ul >
 				<div class="tweetCloud"> To be loaded </div>
            </ul>
  </div><!-- /content -->

</div>

<div id="bios" data-role="page" data-title="People" >

      <div data-role="header" data-position="fixed">
		<a href="#categories" data-rel="back" data-icon="back" data-platformResize="true">Back</a>

	  	<h1>People</h1>
	  
      </div><!-- /header -->

      <div role="main" class="ui-content">
			<table border=0 width="100%">
				<tr>
					<td>
						<form class="ui-filterable" style="position:relative"> 
							<input id="bioFilter" data-type="search" placeholder="Search for names..">
						</form>
					</td>
					<td width="15%">
						<div id="bioFilter_controlGroup" data-role="fieldcontain" style="margin-left:20px">
							<fieldset data-role="controlgroup" data-type="horizontal" data-mini="true">
								<input type="radio" name="bioFilter" id="all" value="on" checked="checked" />
								<label for="all">All</label>
								<input type="radio" name="bioFilter" id="tweetsOnly" value="off" />
								<label for="tweetsOnly" class="twitter-radio-icon" ></label>
							</fieldset>
						</div>
					</td>
				</tr>
			</table>

			<ul data-role="listview" data-filter="true" data-input="#bioFilter" data-autodividers="true" data-inset="true">
           </ul>
      </div><!-- /content -->

</div>

<div id="healthcare" data-role="page" data-title="Healthcare">

      <div data-role="header">
	    <a href="#categories" class="ui-btn ui-corner-all ui-shadow ui-icon-home ui-btn-icon-left">Back</a>
	    <h1>Healthcare</h1>
      </div><!-- /header -->

      <div role="main" class="ui-content">
            <ul data-role="listview" data-inset="true">
            </ul>
      </div><!-- /content -->
</div>

<div id="ukraine" data-role="page" data-title="Ukraine">

      <div data-role="header">
	    <a href="#categories" class="ui-btn ui-corner-all ui-shadow ui-icon-home ui-btn-icon-left">Back</a>
	    <h1>Ukraine</h1>
      </div><!-- /header -->

      <div role="main" class="ui-content">
            <ul data-role="listview" data-inset="true">
            </ul>
      </div><!-- /content -->

</div>

<div id="climate" data-role="page" data-title="Climate Change">

      <div data-role="header">
	    <a href="#categories" class="ui-btn ui-corner-all ui-shadow ui-icon-home ui-btn-icon-left">Back</a>
	    <h1>Climate Change</h1>
      </div><!-- /header -->

      <div role="main" class="ui-content">
            <ul data-role="listview" data-inset="true">
            </ul>
      </div><!-- /content -->

</div>


<!-- Underscore Template that is used to display all of the Category Models -->
<script id="categoryItems" type="text/template">
      <% _.each( collection.toJSON(), function( category, id ) { %>

            <li class="ui-li-static">
                  <%= category.type %>
            </li>

      <% }); %>

</script>


<!-- Underscore Template that is used to display all of the Bios Models -->
<script id="forpiaBios" type="text/template">
      <% _.each( collection.toJSON(), function( category, id ) { %>
			<li><a href="#bios?<%= category.bio.key %>"><%= category.bio.sortName %> <span class="ui-li-count"><%= category.tweetCnt %></span></a></li>
      <% }); %>

</script>


<!-- Underscore Template that is used to display all of the Bios Models -->
<script id="forpiaSearch" type="text/template">
      <% _.each( collection.toJSON(), function( category, id ) { %>

            <li  data-id=<%= category.counts.cid %>>
                 <a href="#demo-mail" class="searchItem">
                 	<div class="forpiaSearch">
						<h3 class="topic"><%= category.type %></h3>
						<img data-id="dtweets" src="images/dem.png" alt="USA" class="searchItem drilldown-header-icon">
						<div class="drilldown-header-text "><%= category.counts.demCnt %></div>
						<img data-id="rtweets" src="images/rep.png" style="margin-left:32px" alt="USA" class="searchItem drilldown-header-icon">
						<div class="drilldown-header-text "><%= category.counts.repCnt %></div>
						<% if (category.date) { %>
							<p class="ui-li-aside"><strong>4:37</strong>PM</p>
						<% } %>
                  </div>
                </a>
                <a class="delete">Delete</a>
            </li>
      <% }); %>
</script>


<!-- Underscore Template that is used to display all of the Bios Models -->
<script id="forpiaPulse" type="text/template">
	 <div class="pulse-chart-container">
		<div class="Tweeterverse" style="display:none">
			<center style="padding:20px 0px">
				Tweeter-verse
			</center>
			<canvas style="float:left;display:inline" class="pulse-chart" data-type="scope" id="pulse_scope" >Tweet Scope</canvas>
			<div class="pulse_twitterverse" style="float:left;padding:20px">
				<p>
					Select an item in the cloud to see more details
				</p>
			</div>
			<div style="clear:both"> </div>
		</div>
		<div class="pulse-chart" data-type="dailyTweets" id="pulse_dailyTweets">Daily Tweets</div>
		<div class="pulse-chart" data-type="followers" id="pulse_followers">Followers</div>
		<div class="pulse-chart" data-type="funnel" id="pulse_followers">Tweet Funnel</div>
		<div class="pulse-chart" data-type="gauge" id="pulse_followers">Activity</div>
	</div>
</script>

			

<!-- Underscore Template that is used to display all of the timelineItem Models -->
<script id="timelineItem" type="text/template">
	 <li class="ui-li-static timeline  <%= category.searchMatchClass %> <%= category.categoryClass %>">
		 <div class="timelineItem">
			 <div class="timeline_person" data-id=<%= category.id %> > <%= category.person %> </div>
			 <div class="timeline_time"> <%= category.timestamp_formatted %> </div>

			 <% if (viewportSize.type === "small") { %>
					<div class="timeline_meta">
						<img class="timeline_twitter" src="images/twitter.png">
						
					</div>
					<div style="clear:both"> </div>
					<center class="timeline_meta" style="float:none;clear:both;display:block">
						<% if (category.cashOnHand_formatted) { %>
							<%= category.cashOnHand_formatted %> Cash On Hand
						<% } else { %>
							<% if (category.campaignDebt_formatted) { %>
								<%= category.campaignDebt_formatted %> Campaign Debt
							<% } else { %>
								<% if (category.followers_formatted) { %>
									<%= category.followers_formatted %> followers
								<% } %>
							<% } %>
						<% } %>
						
					</center>
					<div style="clear:both"> </div>
			<% } else { %>
					<div class="timeline_meta">
						<% if (category.cashOnHand_formatted) { %>
							<%= category.cashOnHand_formatted %> Cash On Hand
						<% } else { %>
							<% if (category.campaignDebt_formatted) { %>
								<%= category.campaignDebt_formatted %> Campaign Debt
							<% } else { %>
								<% if (category.followers_formatted) { %>
									<%= category.followers_formatted %> followers
								<% } %>
							<% } %>
						<% }  %>
						
						<img class="timeline_twitter timeline_share" src="images/share3.png" data-id=<%= category.id %>>
			
					 </div>
					 <div style="clear:both"> </div>
			<% } %>
			<div class="timeline_description">
				<%= category.description %>
				<% if (category.href) { %>
					&nbsp;&nbsp;&nbsp;<a href="<%= category.href %>" target="_blank">Link </a>
				<% }%>
			</div>
			<% if (viewportSize.type === "large"  &&  category.cardContent) { %>
				<img class="timeline_cardContent" src="<%= category.cardContent %>" >
			<% }%>
		</div>
	</li>
</script>

<!-- Underscore Template that is used to display all of the Item Models -->
<script id="forpiaItems" type="text/template">
      <% _.each( collection.toJSON(), function( category, id ) { %>

  				<% if (category.hourBreak) { %>
					<% if (id > 0) { %>
						</table>
					<% } %>
					<div class="timeline_heading <%= category.type %> "><%= category.hour_formatted %></div>
					<table style="position:relative" border=0 width="99%">
				<% } %>

 					<tr>
 					<td width=48%>
					<% if (!collection.options.sidebyside || category.categoryClass === "dtweets") { %>
						 
						 <%= templateFn({ "category" : category, "collection" : collection,  "viewportSize" : viewportSize, "id" : id}) %>
						
					<% } %>
					</td>
  				<% if (collection.options.sidebyside) { %>
					<td >
					&nbsp;
					</td>
					<td width=48%>
						<% if (category.categoryClass === "rtweets") { %>
						 
							 <%= templateFn({ "category" : category, "collection" : collection,  "viewportSize" : viewportSize, "id" : id}) %>
						
						<% } %>
					</td>
 				<% } %>
 					</tr>

      <% }); %>
					</table>
</script>


<!-- Underscore Template that is used to display all of the Drill Models -->
<script id="shareItem" type="text/template">
	<img class=sharePanel_titleicon src="images/share3.png" > <%= category.person %>
	<% if (siteOptions.description) { %>
		<p class=sharePanel_description>
			<%= category.description %>
		</p>
	<% } %>

	<% if (siteOptions.message) { %>
		<h4>Send to Friends...</h4>
		<% _.each( siteOptions.message, function( site ) { %>
			<img class=sharePanel_icon title="<%= site.label %>" src="<%= site.url %>" data-implemented=<%= site.implemented %> data-id="<%= site.id %>" >
		<% }); %>
		<div style="clear:both"> </div>
	<% } %>

	<% if (siteOptions.image) { %>
		<h4>Share Image...</h4>
		
		<% if (siteOptions.imagePreview) { %>
			<img src="images/share2.png" style="float: left; margin-right: 8px; width: 64px; position: relative; top: 7.5px; border-width: 0px; border-right-style: dotted;">
		<% } %>
		
		<% _.each( siteOptions.image, function( site ) { %>
			<img class=sharePanel_icon title="<%= site.label %>" src="<%= site.url %>" data-implemented=<%= site.implemented %> data-id="<%= site.id %>" >
		<% }); %>
		<div style="clear:both"> </div>
	<% } %>

	<% if (siteOptions.search) { %>
		<h4>
			<div data-role="fieldcontain">
				Search...
				<% if (hashTags && hashTags.length > 0) { %>
					<select name="select-hashTags" id="select-hashTags">
						<% _.each( hashTags, function( item, index ) { %>
							<option value="<%= index %>"><%= item %></option>
						<% }); %>
					</select>
				<% } %>
			</div>
		</h4>
		<% _.each( siteOptions.search, function( site ) { %>
			<% if (site.enabled  != false) { %>
				<img class=sharePanel_icon title="<%= site.label %>" src="<%= site.url %>" data-implemented=<%= site.implemented %> data-id="<%= site.id %>" >
			<% } %>
		<% }); %>
		<div style="clear:both"> </div>
		
	<% } %>

</script>

<!-- Underscore Template that is used to display all of the Drill Models -->
<script id="forpiaDrill" type="text/template">
	<table style="position:relative" border=0 width="100%" >
	<% if (collection.drillDown.dualHeader) { %>
		<tr>
		<td valign=top>
			<center>
				<img src="images/dem.png" alt="USA" class="drilldown-header-icon">
				<div class="drilldown-header-text "><%= collection.drillDown.demCnt %></div>
				<img src="images/rep.png" style="margin-left:32px" alt="USA" class="drilldown-header-icon">
				<div class="drilldown-header-text "><%= collection.drillDown.repCnt %></div>
			</center>
		</td>
		</tr>
	<% } %>
	<% if (collection.drillDown.singleHeader) { %>
		<tr>
		<td valign=top>
			<center>
				<img src="images/<%= collection.drillDown.singleHeader %>.png" alt="USA" class="drilldown-header-icon">
				<div class="drilldown-header-text "><span class="drilltweetcnt"></span></div>
			</center>
		</td>
		</tr>
	<% } %>
		<tr>
	<% if (collection.drillDown.url) { %>
		<td valign=top>
			<iframe style="position:relative; top: -70px; left: -20px;" frameborder="0" align="top" marginheight="0" width="500" height="450" src="<%= collection.drillDown.url %>">Sen. Lisa Murkowski</iframe>
					</td>
	<% } %>
		<td valign=top>
			
			<div id="tweetfeed">
				<% _.each( collection.toJSON(), function( category, id ) { %>

					<% if (category.hourBreak) { %>
						<div class="timeline_heading <%= category.type %> "><%= category.hour_formatted %></div>
					<% } %>

					<div style="width:99%">
					<%= templateFn({ "category" : category, "collection" : collection,  "viewportSize" : viewportSize, "id" : id}) %>
					</div>
				<% }); %>
				<a  class="timeline_showmore" id="yes" data-role="button" data-mini="true" data-shadow="false" data-theme="b" data-rel="back">Loading More Tweets</a>
			</div>
			
			<a  class="timeline_linkToMore" id="yes" data-role="button" data-mini="true" data-shadow="false" data-theme="b" data-rel="back">Read more on Twitter</a>
		</td>
		</tr>
	</table>
</script>

<iframe class=invisible id="pageCounter" width="100%" height="400px"  src="" scrolling="no" frameborder="0"></iframe>
    

<!-- Start of StatCounter Code for Default Guide -->
<script type="text/javascript">
var sc_project=9673894; 
var sc_invisible=1; 
var sc_security="68ae5167"; 
var scJsHost = (("https:" == document.location.protocol) ?
"https://secure." : "http://www.");
document.write("<sc"+"ript type='text/javascript' src='" +
scJsHost+
"statcounter.com/counter/counter.js'></"+"script>");
</script>
<noscript><div class="statcounter"><a title="web counter"
href="http://statcounter.com/" target="_blank"><img
class="statcounter"
src="http://c.statcounter.com/9673894/0/68ae5167/1/"
alt="web counter"></a></div></noscript>
<!-- End of StatCounter Code for Default Guide -->


</body>
</html>
