<!doctype html>
<html class="no-js ui-mobile-rendering" lang="en">
<head>
	<title>4PIA</title>
	<meta name="description" content="">
	<meta http-equiv="X-UA-Compatible" content="chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, minimal-ui"/>
	<meta name="apple-mobile-web-app-capable" content="yes"/>
	<LINK REL="apple-touch-icon" HREF="images/apple-touch-icon.png" /> 

	<link rel="stylesheet" href="../../css/themes/default/jquery.mobile-1.4.2.min.css">
	<link rel="stylesheet" href="css/main.css">
	<script src="../../libs/js/require.js"></script>

    <script src="js/main.js"></script>
<script language="JavaScript" type="text/javascript">

function gup( str, name ) {
		name = name.replace(/[\[]/,"\\\[").replace(/[\]]/,"\\\]");
		var regexS = "[\\?&]"+name+"=([^&#]*)";
		var regex = new RegExp( regexS );
		var results = regex.exec( str );
		if( results === null )
			return undefined;
		else
			return results[1];
	};

			String.prototype.gup = function( name )
			{
				return gup( this, name );
			};

		String.prototype.trim = function ()
			{
				return this.replace(/^\s*/, "").replace(/\s*$/, "");
			};
			
	String.prototype.sortName = function ()
			{
				return this
					.replace(/Rep\. /i, "" )
					.replace(/Sen\. /i, "" )
					.replace(/Cong\. /i, "" )
					.replace(/President /i, "" )
					.replace(/Congressman /i, "" )
					.replace(/U.S\. Rep\. /i, "" )
					.replace(/Senator/i, "" ).trim();
			};


			var alertTimerId = 0;

function removeMessage()
{
	var elem = document.getElementById("pageCounter");
	elem.src ="";

	alertTimerId = 0;
}

function messageFromProfile( msg )
{

	var elem = document.getElementById("pageCounter");
	var msg = msg.replace(/ /g, "_");
	elem.src ="../../index_cnt.html?" + msg;
//console.log("messageFromProfile: " + msg );
	if (alertTimerId != 0)
	{
		clearTimeout( alertTimerId );
		alertTimerId = 0;
	}

	alertTimerId = setTimeout(removeMessage, 1000);
}

var viewportSize;

function updateLayout() {
  if (window.innerWidth != currentWidth) {
    currentWidth = window.innerWidth;
    var orient = (currentWidth == 320) ? "profile" : "landscape";
    document.body.setAttribute("orient", orient);
    window.scrollTo(0, 1);
  }
};


</script>

</head>
<body>

    <div data-role="page" id="login" data-theme="b">
        <div data-role="header" data-theme="a">
			<center>
				<table border=0>
				<tr><td valign=middle><img src="images/logo.png"></td>
				<td valign=middle>
					<div class="fourpia_name">
						4PIA
					</div>
				</td></tr>
				</table>
			</center>
        </div>

        <div data-role="content" >
            <form id="check-user" class="ui-body ui-body-a ui-corner-all" data-ajax="false">
                <fieldset>
                    <div data-role="fieldcontain">
                        <label for="username">Enter your username:</label>
                        <input type="text" value="me@interested.com" name="username" id="username"/>
                    </div>
                    <div data-role="fieldcontain">
                        <label for="password">Enter your password:</label>
                        <input type="password" value="123456" name="password" id="password"/>
                    </div>
                    <input type="button" data-theme="b" name="submit" id="submit" value="Sign In">
                </fieldset>
            </form>
        </div>
 			<div class="fourpia_forgotpassword av_link">
				 <a href="#forgot" >Forgot Password?</a>
			</div>
			<div class="fourpia_join">
				Not on 4PIA?  <a class="av_link" href="#learn" >Learn More</a>
			</div>

        <div data-theme="a" data-role="footer" data-position="fixed">

        </div>
    </div>
    <div data-role="page" id="learn">
  <div data-role="header">
    <h1>About 4PIA</h1>
  </div>

  <div data-role="main" class="ui-content">
  <center class="textColor">Political Involvement and Advocacy.</center>
    <p>4PIA is dedicated to help foster a healthy, productive and interactive dialogue in the United States Congress.
 By bringing together, for the first time, on one page what our elected officials are saying we can actually encourage a tweet-dialogue.
You can read the impact of works by viewing the Tweet Cloud(TM) often. </p>
 <a href="#login" class="ui-btn">Sounds impressive - Go Back</a>
 </div>

        <div data-theme="a" data-role="footer" data-position="fixed">
            <h3> <div class="fourpia_copyright">4PIA &copy; 2013, 2014</div><div class="fourpia_authorization"> Commercial use of this site without express authorization is prohibited.</div></h3>
        </div>
    </div>

<div id="categories" data-role="page" data-title="Categories">

      <div data-role="header">
            <h1>Interests 
				<span class=debugInfo> 
					<span class="env-viewport-width"></span>,
					<span class="env-viewport-height"></span> <span class="env-viewport-size"></span>
				</span>
			</h1>
      </div><!-- /header -->

      <div role="main" class="ui-content">
             <ul data-role="listview" data-inset="true">
                  <li><a href="#category?daily" class="daily"><img src="images/logo.png" style="margin-top:-10px" alt="USA" class="ui-li-icon">Daily Tweets <span class="ui-li-count dailycnt"></span></a></li>
                  <li><a href="#category?dtweets" class="dtweets"><img src="images/dem.png" style="margin-top:-6px" alt="USA" class="ui-li-icon">Democratic Tweets <span class="ui-li-count dtweetcnt"></span></a></li>
                  <li><a href="#category?rtweets" class="rtweets"><img src="images/rep.png" style="margin-top:-6px" alt="USA" class="ui-li-icon">Republican Tweets <span class="ui-li-count rtweetcnt"></span></a></li>
                  <li><a href="#category?ctweets" class="ctweets"><img src="images/cloud_logo.png" style="margin-top:0px" alt="USA" class="ui-li-icon">Search Tweet Cloud</a></li>
                  <li><a href="#category?bios" class="bios"><img src="images/seal.png" style="margin-top:-6px" alt="USA" class="ui-li-icon">Representatives <span class="ui-li-count biocnt"></a></li>
                  <li data-role="list-divider" style="margin-top:20px">Other Interests</li>
				  <li><a href="#category?healthcare" class="healthcare">Healthcare</a></li>
                  <li><a href="#category?ukraine" class="ukraine">Ukraine</a></li>
                  <li><a href="#category?climate" class="climate">Climate Change</a></li>
            </ul>
      </div><!-- /content -->

</div>

<div id="daily" data-role="page" data-title="Daily">

      <div data-role="header">
		<a href="#categories" data-rel="back" data-icon="back">Back</a>

			<center>
			<img src="images/dem.png" alt="USA" class="category-header-icon">
			<div class="category-header-text "><span class="dtweetcnt"></span></div>
			<img src="images/rep.png" style="margin-left:32px" alt="USA" class="category-header-icon">
			<div class="category-header-text "><span class="rtweetcnt"></span></div>
			</center>

	  </div><!-- /header -->

      <div role="main" class="ui-content">
            <ul data-role="listview" data-inset="true">
            </ul>
      </div><!-- /content -->
  <div data-role="footer">
    <a href="#" class="ui-btn ui-corner-all ui-shadow ui-icon-plus ui-btn-icon-left">Add on Facebook</a>
    <a href="#" class="ui-btn ui-corner-all ui-shadow ui-icon-plus ui-btn-icon-left">Add on Twitter</a>
    <a href="#" class="ui-btn ui-corner-all ui-shadow ui-icon-plus ui-btn-icon-left">Add on Instagram</a>
  </div>
</div>

<div id="rtweets" data-role="page" data-title="Republican">

      <div data-role="header">
		<a href="#categories" data-rel="back" data-icon="back">Back</a>

			<center>
			<img src="images/rep.png" alt="USA" class="category-header-icon">
			<div class="category-header-text "><span class="rtweetcnt"></span></div>
			</center>

	  </div><!-- /header -->

      <div role="main" class="ui-content">
            <ul data-role="listview" data-inset="true">
            </ul>
      </div><!-- /content -->
  <div data-role="footer">
    <a href="#" class="ui-btn ui-corner-all ui-shadow ui-icon-plus ui-btn-icon-left">Add on Facebook</a>
    <a href="#" class="ui-btn ui-corner-all ui-shadow ui-icon-plus ui-btn-icon-left">Add on Twitter</a>
    <a href="#" class="ui-btn ui-corner-all ui-shadow ui-icon-plus ui-btn-icon-left">Add on Instagram</a>
  </div>
</div>

<div id="dtweets" data-role="page" data-title="Democratic">

      <div data-role="header">
		<a href="#categories" data-rel="back" data-icon="back">Back</a>
			
			<center>
			<img src="images/dem.png" alt="USA" class="category-header-icon">
			<div class="category-header-text "><span class="dtweetcnt"></span></div>
			</center>

			</div><!-- /header -->

      <div role="main" class="ui-content">
            <ul data-role="listview" data-inset="true">
            </ul>
      </div><!-- /content -->
  <div data-role="footer">
    <a href="#" class="ui-btn ui-corner-all ui-shadow ui-icon-plus ui-btn-icon-left">Add on Facebook</a>
    <a href="#" class="ui-btn ui-corner-all ui-shadow ui-icon-plus ui-btn-icon-left">Add on Twitter</a>
    <a href="#" class="ui-btn ui-corner-all ui-shadow ui-icon-plus ui-btn-icon-left">Add on Instagram</a>
  </div>
</div>

<div id="drillDown" data-role="page" data-title="Tweet Details">

      <div data-role="header">
		<a href="#categories" data-rel="back" data-icon="back">Back</a>

		<h1 class="drilldown-header-textView">
			<span class="drilltweeter"></span><div class="category-header-text "><span class="drilltweetcnt"></span></div></h1>
		<center class="drilldown-header-iconicView">
			<img src="images/dem.png" alt="USA" class="drilldown-header-icon">
			<div class="drilldown-header-text "><span class="drilltweetcnt"></span></div>
		</center>

	  </div><!-- /header -->

      <div role="main" class="ui-content">
            <ul data-role="listview" data-inset="true">
            </ul>
      </div><!-- /content -->
  <div data-role="footer">
    <a href="#" class="ui-btn ui-corner-all ui-shadow ui-icon-plus ui-btn-icon-left">Add on Facebook</a>
    <a href="#" class="ui-btn ui-corner-all ui-shadow ui-icon-plus ui-btn-icon-left">Add on Twitter</a>
    <a href="#" class="ui-btn ui-corner-all ui-shadow ui-icon-plus ui-btn-icon-left">Add on Instagram</a>
  </div>
</div>
   <div id="tags" style="display: none;">
      <ul>
        <li><a href="http://www.google.com" target="_blank">Google</a></li>
        <li><a href="/fish">Fish</a></li>
        <li><a href="/chips">Chips</a></li>
        <li><a href="/salt">Salt</a></li>
        <li><a href="/vinegar">Vinegar</a></li>
      </ul>
    </div>		   
<div id="ctweets" data-role="page" data-title="Tweet Cloud">

      <div data-role="header">
		<a href="#categories" data-rel="back" data-icon="back">Back</a>

	    <h1>Tweet Cloud</h1>
      </div><!-- /header -->

      <div role="main" class="ui-content">
	  <div id="myCanvasContainer"  style="display: none;">
		<canvas width="300" height="300" id="myCanvas">
			<p>Anything in here will be replaced on browsers that support the canvas element</p>
		</canvas>
	</div>
	<ul >
 				<div class="tweetCloud"> To be loaded </div>
            </ul>
  </div><!-- /content -->

</div>

<div id="bios" data-role="page" data-title="Representatives">

      <div data-role="header">
		<a href="#categories" data-rel="back" data-icon="back">Back</a>

	    <h1>Representatives</h1>
      </div><!-- /header -->

      <div role="main" class="ui-content">
		   <form class="ui-filterable">
			  <input id="bioFilter" data-type="search" placeholder="Search for names..">
			</form>
			<ul data-role="listview" data-filter="true" data-input="#bioFilter" data-autodividers="true" data-inset="true">
           </ul>
      </div><!-- /content -->

</div>

<div id="healthcare" data-role="page" data-title="Healthcare">

      <div data-role="header">
	    <a href="#categories" class="ui-btn ui-corner-all ui-shadow ui-icon-home ui-btn-icon-left">Back</a>
	    <h1>Healthcare</h1>
      </div><!-- /header -->

      <div role="main" class="ui-content">
            <ul data-role="listview" data-inset="true">
            </ul>
      </div><!-- /content -->
</div>

<div id="ukraine" data-role="page" data-title="Ukraine">

      <div data-role="header">
	    <a href="#categories" class="ui-btn ui-corner-all ui-shadow ui-icon-home ui-btn-icon-left">Back</a>
	    <h1>Ukraine</h1>
      </div><!-- /header -->

      <div role="main" class="ui-content">
            <ul data-role="listview" data-inset="true">
            </ul>
      </div><!-- /content -->

</div>

<div id="climate" data-role="page" data-title="Climate Change">

      <div data-role="header">
	    <a href="#categories" class="ui-btn ui-corner-all ui-shadow ui-icon-home ui-btn-icon-left">Back</a>
	    <h1>Climate Change</h1>
      </div><!-- /header -->

      <div role="main" class="ui-content">
            <ul data-role="listview" data-inset="true">
            </ul>
      </div><!-- /content -->

</div>


<!-- Underscore Template that is used to display all of the Category Models -->
<script id="categoryItems" type="text/template">
      <% _.each( collection.toJSON(), function( category, id ) { %>

            <li class="ui-li-static">
                  <%= category.type %>
            </li>

      <% }); %>

</script>


<!-- Underscore Template that is used to display all of the Bios Models -->
<script id="forpiaBios" type="text/template">
      <% _.each( collection.toJSON(), function( category, id ) { %>
			<li><a href="#bios?<%= category.bio.key %>"><%= category.bio.sortName %></a></li>
      <% }); %>

</script>


<!-- Underscore Template that is used to display all of the Item Models -->
<script id="forpiaItems" type="text/template">
      <% _.each( collection.toJSON(), function( category, id ) { %>

  				<% if (category.hourBreak) { %>
					<% if (id > 0) { %>
						</table>
					<% } %>
					<div class="timeline_heading <%= category.type %> "><%= category.hour_formatted %></div>
					<table style="position:relative" border=0 width="100%">
				<% } %>

 					<tr>
 					<td width=48%>
					<% if (!collection.options.sidebyside || category.categoryClass === "dtweets") { %>
						 <li class="ui-li-static timeline  <%= category.categoryClass %>">
						 <div class="timelineItem">
							  <div class="timeline_person" data-id=<%= category.id %> > <%= category.person %> </div>
							  <div class="timeline_time"> <%= category.timestamp_formatted %> </div>

							  <% if (viewportSize ==="small") { %>
									<div class="timeline_followers">
										<img class="timeline_twitter" src="images/twitter.jpg">
									</div>
									<div style="clear:both"> </div>
									<center class="timeline_followers" style="float:none;clear:both;display:block">
										<%= category.followers_formatted %> followers
									</center>
									<div style="clear:both"> </div>
							<% } else { %>
									  <div class="timeline_followers">
											<%= category.followers_formatted %> followers
											 <img class="timeline_twitter" src="images/twitter.jpg">

									  </div>
									  <div style="clear:both"> </div>
									
							<% } %>
							 <div class="timeline_description">
									<%= category.description %>
							  </div>
						 </div>
						 </li>
					<% } %>
					</td>
  				<% if (collection.options.sidebyside) { %>
					<td >
					&nbsp;
					</td>
					<td width=48%>
					<% if (category.categoryClass === "rtweets") { %>
						 <li class="ui-li-static timeline  <%= category.categoryClass %>">
						 <div class="timelineItem">
							  <div class="timeline_person" data-id=<%= category.id %> > <%= category.person %> </div>
							  <div class="timeline_time"> <%= category.timestamp_formatted %> </div>

							  <% if (viewportSize ==="small") { %>
									<div class="timeline_followers">
										<img class="timeline_twitter" src="images/twitter.jpg">
									</div>
									<div style="clear:both"> </div>
									<center class="timeline_followers" style="float:none;clear:both;display:block">
										<%= category.followers_formatted %> followers
									</center>
									<div style="clear:both"> </div>
							<% } else { %>
									  <div class="timeline_followers">
											<%= category.followers_formatted %> followers
											 <img class="timeline_twitter" src="images/twitter.jpg">

									  </div>
									  <div style="clear:both"> </div>
									
							<% } %>

							  <div class="timeline_description">
									<%= category.description %>
							  </div>
						 </div>
						 </li>
					<% } %>
					</td>
 				<% } %>
 					</tr>

      <% }); %>
					</table>
</script>


<!-- Underscore Template that is used to display all of the Drill Models -->
<script id="forpiaDrill" type="text/template">
	<table style="position:relative" border=0 width="100%" >
<% if (collection.drillDown.dualHeader) { %>
	<tr>
	<td valign=top>
		<center>
			<img src="images/dem.png" alt="USA" class="drilldown-header-icon">
			<div class="drilldown-header-text "><%= collection.drillDown.demCnt %></div>
			<img src="images/rep.png" style="margin-left:32px" alt="USA" class="drilldown-header-icon">
			<div class="drilldown-header-text "><%= collection.drillDown.repCnt %></div>
		</center>
	</td>
	</tr>
<% } %>
<% if (collection.drillDown.singleHeader) { %>
	<tr>
	<td valign=top>
		<center>
			<img src="images/<%= collection.drillDown.singleHeader %>.png" alt="USA" class="drilldown-header-icon">
			<div class="drilldown-header-text "><span class="drilltweetcnt"></span></div>
		</center>
	</td>
	</tr>
<% } %>
	<tr>
<% if (collection.drillDown.url) { %>
	<td valign=top>
		<iframe style="position:relative; top: -77px; left: 0px;" frameborder="0" align="top" marginheight="0" width="500" height="450" src="<%= collection.drillDown.url %>">Sen. Lisa Murkowski</iframe>
	</td>
<% } %>
	<td valign=top>
      <% _.each( collection.toJSON(), function( category, id ) { %>

  				<% if (category.hourBreak) { %>
					<div class="timeline_heading <%= category.type %> "><%= category.hour_formatted %></div>
				<% } %>

          <li class="ui-li-static timeline   <%= category.categoryClass %>">
				  <div class="timeline_person" data-id=<%= category.id %> > <%= category.person %> </div>
                  <div class="timeline_time"> <%= category.timestamp_formatted %> </div>
                  <div class="timeline_followers">
						<%= category.followers_formatted %> followers
						 <img class="timeline_twitter" src="images/twitter.jpg">

				  </div>
				  <div style="clear:both"> </div>
                 <div class="timeline_description">
						<%= category.description %>
				  </div>

            </li>

      <% }); %>
	</td>
	</tr>
	</table>
</script>

<iframe class=invisible id="pageCounter" width="100%" height="400px"  src="" scrolling="no" frameborder="0"></iframe>
    

<!-- Start of StatCounter Code for Default Guide -->
<script type="text/javascript">
var sc_project=9673894; 
var sc_invisible=1; 
var sc_security="68ae5167"; 
var scJsHost = (("https:" == document.location.protocol) ?
"https://secure." : "http://www.");
document.write("<sc"+"ript type='text/javascript' src='" +
scJsHost+
"statcounter.com/counter/counter.js'></"+"script>");
</script>
<noscript><div class="statcounter"><a title="web counter"
href="http://statcounter.com/" target="_blank"><img
class="statcounter"
src="http://c.statcounter.com/9673894/0/68ae5167/1/"
alt="web counter"></a></div></noscript>
<!-- End of StatCounter Code for Default Guide -->


</body>
</html>
