<!doctype html>
<html class="no-js ui-mobile-rendering" lang="en">
<head>
	<title>4PIA</title>
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="../../css/themes/default/jquery.mobile-1.4.2.min.css">
	<link rel="stylesheet" href="css/main.css">
	<script src="../../libs/js/require.js"></script>

    <script src="js/main.js"></script>
</head>
<body>

    <div data-role="page" id="login" data-theme="b">
        <div data-role="header" data-theme="a">
			<center>
				<table border=0>
				<tr><td valign=middle><img src="images/logo.png"></td>
				<td valign=middle>
					<div class="fourpia_name">
						4PIA
					</div>
				</td></tr>
				</table>
			</center>
        </div>
 
        <div data-role="content" >
            <form id="check-user" class="ui-body ui-body-a ui-corner-all" data-ajax="false">
                <fieldset>
                    <div data-role="fieldcontain">
                        <label for="username">Enter your username:</label>
                        <input type="text" value="" name="username" id="username"/>
                    </div>                                  
                    <div data-role="fieldcontain">                                      
                        <label for="password">Enter your password:</label>
                        <input type="password" value="" name="password" id="password"/> 
                    </div>
                    <input type="button" data-theme="b" name="submit" id="submit" value="Sign In">
                </fieldset>
            </form>     
        </div>
 			<div class="fourpia_forgotpassword av_link">
				 <a href="#forgot" >Forgot Password?</a>
			</div>
			<div class="fourpia_join">
				Not on 4PIA?  <a class="av_link" href="#learn" >Learn More</a>
			</div>

        <div data-theme="a" data-role="footer" data-position="fixed">
 
        </div>
    </div>
    <div data-role="page" id="learn">
  <div data-role="header">
    <h1>About 4PIA</h1>
  </div>

  <div data-role="main" class="ui-content">
  <center class="textColor">Political Involvement and Advocacy.</center>
    <p>4PIA is dedicated to help foster a healthy, productive and interactive dialogue in the United States Congress.
 By bringing together, for the first time, on one page what our elected officials are saying we can actually encourage a tweet-dialogue. 
You can read the impact of works by viewing the Tweet Cloud(TM) often. </p>
 <a href="#login" class="ui-btn">Sounds impressive - Go Back</a>
 </div>
 
        <div data-theme="a" data-role="footer" data-position="fixed">
            <h3> <div class="fourpia_copyright">4PIA &copy; 2013, 2014</div><div class="fourpia_authorization"> Commercial use of this site without express authorization is prohibited.</div></h3>
        </div>
    </div>
	
	
<div id="categories" data-role="page" data-title="Categories">

      <div data-role="header">
            <h1>Categories</h1>
      </div><!-- /header -->

      <div role="main" class="ui-content">
            <h2>Select Tweets:</h2>
            <ul data-role="listview" data-inset="true">
                  <li><a href="#category?rtweets" class="rtweets">Republican tweets <span class="rtweetcnt"></span></a></li>
                  <li><a href="#category?dtweets" class="dtweets">Democratic tweets <span class="dtweetcnt"></span></a></li>
                  <li><a href="#category?animals" class="animals">Animals</a></li>
                  <li><a href="#category?colors" class="colors">Colors</a></li>
                  <li><a href="#category?vehicles" class="vehicles">Vehicles</a></li>
            </ul>
      </div><!-- /content -->

</div>

<div id="rtweets" data-role="page" data-title="rtweets">

      <div data-role="header">
	    <a href="#categories" class="ui-btn ui-corner-all ui-shadow ui-icon-home ui-btn-icon-left">Home</a>

		<h1>Republican Tweet Count is <span class="rtweetcnt"></span></h1>
      <a href="#search_rtweet" class="ui-btn ui-corner-all ui-shadow ui-icon-search ui-btn-icon-left">Search</a>

	  </div><!-- /header -->

      <div role="main" class="ui-content">
            <ul data-role="listview" data-inset="true">
            </ul>
      </div><!-- /content -->
  <div data-role="footer">
    <a href="#" class="ui-btn ui-corner-all ui-shadow ui-icon-plus ui-btn-icon-left">Add Me On Facebook</a>
    <a href="#" class="ui-btn ui-corner-all ui-shadow ui-icon-plus ui-btn-icon-left">Add Me On Twitter</a>
    <a href="#" class="ui-btn ui-corner-all ui-shadow ui-icon-plus ui-btn-icon-left">Add Me On Instagram</a>
  </div>
</div>

<div id="dtweets" data-role="page" data-title="dtweets">

      <div data-role="header">
	    <a href="#categories" class="ui-btn ui-corner-all ui-shadow ui-icon-home ui-btn-icon-left">Home</a>

		<h1>Democratic Tweet Count is<span class="dtweetcnt"></span></h1>
      <a href="#search_rtweet" class="ui-btn ui-corner-all ui-shadow ui-icon-search ui-btn-icon-left">Search</a>

	  </div><!-- /header -->

      <div role="main" class="ui-content">
            <ul data-role="listview" data-inset="true">
            </ul>
      </div><!-- /content -->
  <div data-role="footer">
    <a href="#" class="ui-btn ui-corner-all ui-shadow ui-icon-plus ui-btn-icon-left">Add Me On Facebook</a>
    <a href="#" class="ui-btn ui-corner-all ui-shadow ui-icon-plus ui-btn-icon-left">Add Me On Twitter</a>
    <a href="#" class="ui-btn ui-corner-all ui-shadow ui-icon-plus ui-btn-icon-left">Add Me On Instagram</a>
  </div>
</div>

<div id="drillDown" data-role="page" data-title="drillDown">

      <div data-role="header">
	    <a href="#categories" class="ui-btn ui-corner-all ui-shadow ui-icon-home ui-btn-icon-left">Back</a>

		<h1>Drill Down for <span class="drilltweeter"> </span> <span class="drilltweetcnt"></span></h1>
      <a href="#search_rtweet" class="ui-btn ui-corner-all ui-shadow ui-icon-search ui-btn-icon-left">Search</a>

	  </div><!-- /header -->

      <div role="main" class="ui-content">
            <ul data-role="listview" data-inset="true">
            </ul>
      </div><!-- /content -->
  <div data-role="footer">
    <a href="#" class="ui-btn ui-corner-all ui-shadow ui-icon-plus ui-btn-icon-left">Add Me On Facebook</a>
    <a href="#" class="ui-btn ui-corner-all ui-shadow ui-icon-plus ui-btn-icon-left">Add Me On Twitter</a>
    <a href="#" class="ui-btn ui-corner-all ui-shadow ui-icon-plus ui-btn-icon-left">Add Me On Instagram</a>
  </div>
</div>


<div id="animals" data-role="page" data-title="Animals">

      <div data-role="header">
	    <h1>Animals</h1>
      </div><!-- /header -->

      <div role="main" class="ui-content">
            <ul data-role="listview" data-inset="true">
            </ul>
      </div><!-- /content -->
</div>

<div id="colors" data-role="page" data-title="Colors">

      <div data-role="header">
	    <h1>Colors</h1>
      </div><!-- /header -->

      <div role="main" class="ui-content">
            <ul data-role="listview" data-inset="true">
            </ul>
      </div><!-- /content -->

</div>

<div id="vehicles" data-role="page" data-title="Vehicles">

      <div data-role="header">
	    <h1>Vehicles</h1>
      </div><!-- /header -->

      <div role="main" class="ui-content">
            <ul data-role="listview" data-inset="true">
            </ul>
      </div><!-- /content -->

</div>

<!-- Underscore Template that is used to display all of the Category Models -->
<script id="categoryItems" type="text/template">
      <% _.each( collection.toJSON(), function( category, id ) { %>

            <li class="ui-li-static">
                  <%= category.type %>
            </li>

      <% }); %>

</script>

<!-- Underscore Template that is used to display all of the Category Models -->
<script id="forpiaItems" type="text/template">
      <% _.each( collection.toJSON(), function( category, id ) { %>

  				<% if (category.hourBreak) { %>
					<div class="timeline_heading <%= category.type %> "><%= category.hour_formatted %></div>
				<% } %>
				
          <li class="timeline ui-li-static">
				  <div class="timeline_person" data-id=<%= category.id %> > <%= category.person %> </div>
                  <div class="timeline_time"> <%= category.timestamp_formatted %> </div>
                  <div class="timeline_followers"> 
						<%= category.followers_formatted %> followers
						 <img class="timeline_twitter" src="images/twitter.jpg"> 
				  
				  </div>
				  <div style="clear:both"> </div>
                 <div class="timeline_description"> 
						<%= category.description %> 
				  </div>
                 
            </li>

      <% }); %>

</script>

</body>
</html>
